/* Демо контент */
.content-demo {
	margin-bottom: 5rem;
	padding: 1rem;
	background-color: #dadada;
}

/* Контейнеры */
.container {
	margin: 0 auto;
	padding: 0 var(--container-padding);

	max-width: var(--container-width);
	width: 100%;
}
.container-accent {
	margin: 0 auto;
	padding: 0 15px;

	max-width: 1070px;
	width: 100%;
}

