.container {
    text-align: center;
  }
  
  h1 {
    font-size: 120px;
    color: #0C2540;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #0C2540;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
 