.section-questions {
    margin-top: 40px;
    margin-bottom: 40px;
}
.questions {

    &__title {
        font-family: var(--font-accent);
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 40px;
        color: #0c2540;
        text-align: center;
    }
}
.accordion {
    &__item {
        margin-bottom: 1rem;
    }
    
    &__header {
        box-shadow: 2px 4px 4px 0 rgba(135, 181, 215, 0.25);
        background-color: #ffffff;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font-accent);
        font-size: 1.3rem;
        font-weight: bold;
        color: rgb(12, 37, 64);
    }

    &__arrow {
        transform: rotate(0);
        transition: transform 0.5s ease-in-out;
       
        
        &.rotate {
            transform: rotate(180deg);
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden; 
        transition: all 0.5s ease-in-out; 
        padding: 0 1rem; 
        font-family: var(--font-main);
        font-size: 1rem;

        &.show {
            text-align: start;
            padding-bottom: 1rem;
            max-height: 1000px;
            height: 100%;
            padding-top: 1rem;
    
            background-color: #ffffff;
            box-shadow: 2px 4px 4px 0 rgba(135, 181, 215, 0.25);
        }
    }
}
